In [1]:
import numpy as np 
from scipy import stats as s

In [2]:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

### How many negative numbers are there?

In [3]:
mask_neg = a < 0 
np.sum(mask_neg)

4

> the answer we got is 4 for how many numbers are negitive. We did this by addiung the sum of the bool values where 1 = true condition. The condition is outlike above where a is less than 0

In [4]:
# positive count 

mask = a > 0
print(type(mask))

<class 'numpy.ndarray'>

In [5]:
np.sum(mask)

5

> the answer to how many number are postive is 5

## How many EVEN POSITIVE numbers are there?

In [7]:
even_pos = (a % 2 == 0) & (a > 0)

In [8]:
np.sum(even_pos)

3

> the answer we got is 3 for how many numbers are positive and even numbers ther are. We did this by adding the sum of the bool values where 1 = true condition. The condition is outline above where a is greater than 0 to give us our postive value and where a is divisable by two and has no remaiders making it even.

## If you were to add 3 to each data point, how many positive numbers would there be?

In [9]:
a_v2 = []

for x in a:
    a_v2.append(x +3)

In [10]:
a

array([ 4, 10, 12, 23, -2, -1,  0,  0,  0, -6,  3, -7])

In [11]:
a_v2 = np.array(a_v2)
a_v2

array([ 7, 13, 15, 26,  1,  2,  3,  3,  3, -3,  6, -4])

In [12]:
mask_a_v2 = a_v2 > 0
mask

array([ True,  True,  True,  True, False, False, False, False, False,
       False,  True, False])

In [13]:
sum(mask_a_v2)

10

>  If we were to add every number by three would increase the amount of postive numbers to 10. we did this by creating a new list and add all the iems by 3 using a for loop. 
we then converted it back to an array. creating a mask and add the sum of the the True values in it .

# If you squared each number, 
# what would the new mean and standard deviation be?

> We first do this by squaring the values.

In [14]:
squared_array = []
for x in a:
    squared_array.append(x ** 2)

> we then have to convert the list back to an array.

In [15]:
np.array(squared_array)

array([ 16, 100, 144, 529,   4,   1,   0,   0,   0,  36,   9,  49])

> Our next and final step is to take the standard deviation us numpy function sdt()

In [16]:
np.std(squared_array)

144.0243035046516

In [17]:
s.zscore(a)

array([ 0.12403473,  0.86824314,  1.11631261,  2.48069469, -0.62017367,
       -0.49613894, -0.3721042 , -0.3721042 , -0.3721042 , -1.11631261,
        0.        , -1.24034735])

# Here comes the painful part

In [18]:
import numpy as np
# Life w/o numpy to life with numpy

## Setup 1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use python's built in functionality/operators to determine the following:
# Exercise 1 - Make a variable called sum_of_a to hold the sum of all the numbers in above list
sum_of_a = np.sum(a)
print(sum_of_a)

55

In [19]:
# Exercise 2 - Make a variable named min_of_a to hold the minimum of all the numbers in the above list
min_of_a = np.min(a)
print(min_of_a)

1

In [20]:
# Exercise 3 - Make a variable named max_of_a to hold the max number of all the numbers in the above list
max_of_a = np.max(a)
max_of_a

10

In [21]:
# Exercise 4 - Make a variable named mean_of_a to hold the average of all the numbers in the above list
mean_of_a = np.mean(a)
mean_of_a

5.5

In [22]:
# Exercise 5 - Make a variable named product_of_a to hold the product of multiplying 
#all the numbers in the above list together

product_of_a = np.prod(a)
product_of_a

3628800

In [23]:
# Exercise 6 - Make a variable named squares_of_a. 
# It should hold each number in a squared like [1, 4, 9, 16, 25...]

squares_of_a = np.square(a)
squares_of_a

array([  1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [24]:
# Exercise 7 - Make a variable named odds_in_a. It should hold only the odd numbers
a = np.array(a)

mask = a % 2!=0

odds_in_a = a[mask]

odds_in_a

array([1, 3, 5, 7, 9])

In [25]:
# Exercise 8 - Make a variable named evens_in_a. It should hold only the evens.

mask_1 = a % 2 == 0
mask_1

evens_in_a = a[mask_1]
evens_in_a

array([ 2,  4,  6,  8, 10])

In [26]:
## What about life in two dimensions? A list of lists is matrix, a table, a spreadsheet, a chessboard...
## Setup 2: Consider what it would take to find the sum, min, max, average, sum, product, and list of squares for this list of two lists.
b = [
    [3, 4, 5],
    [6, 7, 8]
]

In [27]:
# Exercise 1 - refactor the following to use numpy. Use sum_of_b as the variable. **Hint, you'll first need to make sure that the "b" variable is a numpy array**
sum_of_b = 0
for row in b:
    sum_of_b += sum(row)

In [28]:
type(b)
np.array(b)
np.sum(b)


#####FOR ABOVE##########

33

In [29]:
# Exercise 2 - refactor the following to use numpy. 
min_of_b = min(b[0]) if min(b[0]) <= min(b[1]) else min(b[1])  

np.min(b)

3

In [30]:
# Exercise 3 - refactor the following maximum calculation to find the answer with numpy.
max_of_b = max(b[0]) if max(b[0]) >= max(b[1]) else max(b[1])

np.max(b)

8

In [31]:
# Exercise 4 - refactor the following using numpy to find the mean of b
mean_of_b = (sum(b[0]) + sum(b[1])) / (len(b[0]) + len(b[1]))

np.mean(b)

5.5

In [32]:
# Exercise 5 - refactor the following to use numpy for calculating the product of all numbers multiplied together.
product_of_b = 1
for row in b:
    for number in row:
        product_of_b *= number

np.prod(b)

20160

In [33]:
# Exercise 6 - refactor the following to use numpy to find the list of squares 
squares_of_b = []
for row in b:
    for number in row:
        squares_of_b.append(number**2)
np.square(b)

array([[ 9, 16, 25],
       [36, 49, 64]])

In [34]:
# Exercise 7 - refactor using numpy to determine the odds_in_b
# odds_in_b = []
# for row in b:
#     for number in row:
#         if(number % 2 != 0):
#             odds_in_b.append(number)
            
b = np.array(b)    
mask_2 = b % 2 != 0
b[mask_2]

array([3, 5, 7])

In [35]:
# Exercise 8 - refactor the following to use numpy to filter only the even numbers
evens_in_b = []
for row in b:
    for number in row:
        if(number % 2 == 0):
            evens_in_b.append(number)
            
mask_3 = b % 2 == 0
b[mask_3]

array([4, 6, 8])

In [36]:
# Exercise 9 - print out the shape of the array b.

np.shape(b)

(2, 3)

In [37]:
# Exercise 10 - transpose the array b.
np.transpose(b)

array([[3, 6],
       [4, 7],
       [5, 8]])

In [38]:
b.reshape(1,6)

array([[3, 4, 5, 6, 7, 8]])

In [40]:
# Exercise 12 - reshape the array b to be a list of 6 lists, each containing only 1 number (6 x 1)

b.reshape(1,6)

array([[3, 4, 5, 6, 7, 8]])

In [41]:
## Setup 3
c = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [42]:
# HINT, you'll first need to make sure that the "c" variable is a numpy array prior to using numpy array methods.
# Exercise 1 - Find the min, max, sum, and product of c.
type(c)
np.array(c)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [43]:
# Exercise 2 - Determine the standard deviation of c.

np.std(c)

2.581988897471611

In [44]:
# Exercise 3 - Determine the variance of c.
np.var(c)

6.666666666666667

In [45]:
# Exercise 4 - Print out the shape of the array c
np.shape(c)

(3, 3)

In [46]:
# Exercise 5 - Transpose c and print out transposed result.
np.transpose(c)

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [47]:
# Exercise 6 - Get the dot product of the array c with c. 
np.dot(c,c)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [48]:
# Exercise 7 - Write the code necessary to sum up the result of c times c transposed. 
#Answer should be 261
new_c = np.transpose(c)
final_c = np.multiply(c,new_c)
final_c = np.sum(final_c)

final_c

261

In [116]:
# Exercise 8 - Write the code necessary to determine the product of c times c transposed. 
Answer should be 131681894400.

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [49]:
## Setup 4
d = [
    [90, 30, 45, 0, 120, 180],
    [45, -90, -30, 270, 90, 0],
    [60, 45, -45, 90, -45, 180]
]

In [ ]:
# Exercise 1 - Find the sine of all the numbers in d
np.sin(d)

In [152]:
# Exercise 2 - Find the cosine of all the numbers in d
np.cos(d)

array([[-0.44807362,  0.15425145,  0.52532199,  1.        ,  0.81418097,
        -0.59846007],
       [ 0.52532199, -0.44807362,  0.15425145,  0.98438195, -0.44807362,
         1.        ],
       [-0.95241298,  0.52532199,  0.52532199, -0.44807362,  0.52532199,
        -0.59846007]])

In [154]:
# Exercise 3 - Find the tangent of all the numbers in d
np.tan(d)

array([[-1.99520041, -6.4053312 ,  1.61977519,  0.        ,  0.71312301,
         1.33869021],
       [ 1.61977519,  1.99520041,  6.4053312 , -0.17883906, -1.99520041,
         0.        ],
       [ 0.32004039,  1.61977519, -1.61977519, -1.99520041, -1.61977519,
         1.33869021]])

In [156]:
# Exercise 4 - Find all the negative numbers in d
d = np.array(d)
mask_7 = d < 0
d[mask_7]

array([-90, -30, -45, -45])

In [53]:
# Exercise 7 - Determine how many unique numbers there are in d.
np.unique(d)

array([-90, -45, -30,   0,  30,  45,  60,  90, 120, 180, 270])

In [ ]:
# Exercise 8 - Print out the shape of d.
np.shape(d)

In [62]:
# Exercise 9 - Transpose and then print out the shape of d.
lol = np.transpose(d)
np.shape(lol)
np.array(d)

array([[ 90,  30,  45,   0, 120, 180],
       [ 45, -90, -30, 270,  90,   0],
       [ 60,  45, -45,  90, -45, 180]])

In [64]:
# Exercise 10 - Reshape d into an array of 9 x 2
np.reshape(d,(9,2))

array([[ 90,  30],
       [ 45,   0],
       [120, 180],
       [ 45, -90],
       [-30, 270],
       [ 90,   0],
       [ 60,  45],
       [-45,  90],
       [-45, 180]])