# Exercises Part I
- Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.
- Use pandas to create a Series named fruits from the following list:

In [2]:
import pandas as pd
import numpy as np 



fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

fruits = pd.Series(fruits)

   ## Use Series attributes and methods to explore your fruits Series.

> Determine the number of elements in fruits.

In [3]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

> Output only the index from fruits.

In [ ]:
fruits.index

> Output only the values from fruits.

In [ ]:
fruits.values

> Confirm the data type of the values in fruits.

In [ ]:
fruits.dtype

> Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [ ]:
fruits.describe()

> Determine how many times each unique string value occurs in fruits.

In [ ]:
print(type(unique_fruit))
unique_fruit = pd.Series(fruits.unique())
unique_fruit.value_counts()

> Determine the string value that occurs most frequently in fruits.

> Determine the string value that occurs least frequently in fruits.

In [69]:
count.index

Index(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'blueberry',
       'blackberry', 'gooseberry', 'papaya'],
      dtype='object')

In [81]:
# then we get the min of the series count 
fruits.value_counts()[fruits.value_counts() == 1]

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

> Capitalize all the string values in fruits.

In [82]:
fruit.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

> Count the letter "a" in all the string values (use string vectorization).

In [122]:
total_as = sum(fruits.str.count('a'))
total_as
print(fruits.str.count('a'))

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

> Output the number of vowels in each and every string value.

In [17]:
#if i want to count every vowl 
# fam way to do this 
# make a function, apply it our series using .apply 
counter = 0
def count_vowels(some_string):
    counter = 0
    for letter in some_string:
        if letter in 'aeiou':
            counter += 1 
            return counter

In [18]:
fruits.apply(count_vowels)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
dtype: int64

In [22]:
# fancy novel regex way to solve this 
fruits.str.count('[aeiou]')

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [24]:
fruits.apply(len).max()

16

In [29]:
fruits[fruits.apply(len) >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [31]:
o_mask = fruits.str.lower().str.count('o') >= 2
fruits[o_mask]

6         tomato
15    gooseberry
dtype: object

In [32]:
fruits.apply(lambda x : 'berry' in x )

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14     True
15     True
16    False
dtype: bool

In [ ]:
# most commonly occuring letters