## Here is what we are going to cover

- Create a series 
- Series data types
- Vectorized operations
- Series attributes 
- Series methods

In [4]:
# we have to start with the imports 
import pandas as pd # this will be standard 
import numpy as np # also standaard 
from pydataset import data # here is where we will get sample data

# Creating a Series

- from a list 
- from a numpy array 
- from a dictionary
- from a data frame

In [11]:
my_list = [2,3,5]
type(list)

list

In [12]:
# in a list we can call specific values by using its index as shown below:
list[0] # since python is a zero index language this will return the first value '2'

2

> here is how we convert this into a panda series

In [14]:
my_series = pd.Series(my_list)
my_series

0    2
1    3
2    5
dtype: int64

## Now lets check the type of this value

In [15]:
type(my_series)

pandas.core.series.Series

# Now from an array

In [16]:
my_array = np.array([8.0, 13.0, 21.0])

# create series from array
my_series = pd.Series(my_array)

type(my_series)

pandas.core.series.Series

In [17]:
# now from a dictionary
labeled_series = pd.Series({'a' : 0, 'b' : 1.5, 'c' : 2, 'd': 3.5, 'e': 4, 'f': 5.5})
labeled_series

a    0.0
b    1.5
c    2.0
d    3.5
e    4.0
f    5.5
dtype: float64

# Now from a dataframe

In [18]:
sleep_df = data('sleepstudy')
sleep_df.head()

   Reaction  Days  Subject
1  249.5600     0      308
2  258.7047     1      308
3  250.8006     2      308
4  321.4398     3      308
5  356.8519     4      308

# A single bracket

In [20]:
sleep_series = sleep_df['Reaction']
sleep_series

1      249.5600
2      258.7047
3      250.8006
4      321.4398
5      356.8519
         ...
176    329.6076
177    334.4818
178    343.2199
179    369.1417
180    364.1236
Name: Reaction, Length: 180, dtype: float64

In [23]:
# While we are not on dataframes see the example blow:
# and notice how when we use the double brackets we end up with a dataframe
# and not a series
my_dataframe_that_resembles_a_series = sleep_df[['Reaction']]
type(my_dataframe_that_resembles_a_series)
#my_dataframe_that_resembles_a_series

pandas.core.frame.DataFrame

# Pandas data types

- int: integer, whole number values 
- float: decimal numbers 
- bool: true or false 
- object: string 
- category: a fixed set of string values
- a name, an optional human-friendly name for the series
- inferring
- using astype()

### Inferring

In [24]:
pd.Series([True,False,True])
# pay attention to the dtype in the output for this and the next examples

0     True
1    False
2     True
dtype: bool

In [25]:
pd.Series(['I', 'Love', 'Codeup'])

0         I
1      Love
2    Codeup
dtype: object

In [26]:
my_series = pd.Series([1, 3, 'five'])
my_series

0       1
1       3
2    five
dtype: object

In [29]:
# now were gonna filter out the five 
my_new_series = my_series[my_series != 'five']
# we do this bt defining a new variable and making it equal to my series not equal 5 
# this will pull all the values that are not 'five'
my_new_series

0    1
1    3
dtype: object

# Vectorized Operations

- arithmetic operation 
- compersion operation

In [30]:
fibi_series = pd.Series([0, 1, 1, 2, 3, 5, 8])

fibi_series.head()

0    0
1    1
2    1
3    2
4    3
dtype: int64

In [31]:
fibi_series + 1

0    1
1    2
2    2
3    3
4    4
5    6
6    9
dtype: int64

In [32]:
fibi_series/2

0    0.0
1    0.5
2    0.5
3    1.0
4    1.5
5    2.5
6    4.0
dtype: float64

In [33]:
fibi_series >= 5

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [34]:
(fibi_series >= 3) & (fibi_series % 2 == 0)
# take notice how we

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool