## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)



## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

### Examples

In [1]:
type(123)

int

In [2]:
type(123.0)

float

In [3]:
type('hello')

str

---

## Variables

### Assigning a variable

In [69]:
favorite_num = 42
new = favorite_num + 7

In [70]:
type(favorite_num)

int

In [71]:
print(favorite_num)

42

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

In [ ]:
# above will result in error.b is not defined

In [7]:
a = 6
b = 4
print(a + b)

10

In [12]:
x = 1 
print(x)
# add one to the value of x 
x = x + 1
print (x)

x = x * 3 + x
print (x)

1
2
8

#### Example: Running a cell multiple times

In [13]:
number = 6

In [16]:
number = number + 1

In [17]:
print(number)

8

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

In [18]:
True == True

True

In [19]:
True == False

False

In [20]:
True != True

False

In [21]:
True != False

True

In [22]:
5.01 == 5

False

In [24]:
'Hello' =='hello'

False

In [25]:
'Hello' == 'Hello '

False

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |

In [35]:
is_first_of_month = True
report_has_been_sent = False


should_process_report = is_first_of_month and not report_has_been_sent

print(should_process_report)

True

In [36]:
is_first_of_month = False
report_has_been_sent = False


should_process_report = is_first_of_month and not report_has_been_sent

print(should_process_report)

False



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

In [27]:
5 > 6

False

In [29]:
5 < 5

False

In [31]:
5 >= 5

True

In [34]:
1.25 + 1.25 <= 2.5

True

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

In [38]:
my_cohort = 'O\'Neil'

In [39]:
print(my_cohort)

O'Neil

In [40]:
greeting = 'Hello, there!'

In [42]:
empty_string = ''

In [43]:
numer = '123'

In [ ]:
type(number)

### Examples

### Operations with strings

In [45]:
'hello' == 'heLlo'

False

In [46]:
'hello' == 'hello'

True

In [47]:
'abc'!= 'def'

True

In [48]:
'abc' + 'def' +'ghi'

'abcdefghi'

In [49]:
'abc' * 3

'abcabcabc'

### Formatting strings

### Examples

In [50]:
my_name = 'Fermin'

In [51]:
'Hello, %s!' %my_name

'Hello, Fermin!'

In [52]:
'Hello, {}!' .format(my_name)

'Hello, Fermin!'

In [ ]:
f'Hello, {my_name}! how are you doing today?'

In [60]:
a = '123'

In [61]:
a.isdigit()

True

In [63]:
b = '123, Main, Street'

b.lower().split(',')

['123', ' main', ' street']

In [64]:
', '.join(['one', 'two', 'three'])

'one, two, three'

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [54]:
s = '          Hello, World'

In [57]:
s = s.lower()

In [58]:
print(s)

          hello, world

In [59]:
s.strip()

'hello, world'

---

## Lists

### Creating a list

In [65]:
number_list = [1,2,3] 
print(number_list)

[1, 2, 3]

In [67]:
string_list = ['one', 'two', 'three']
string_list

['one', 'two', 'three']

In [ ]:
list_oflists = [[1,2,3],[456],[7,8,9]]

### List comprehensions

In [68]:
[n for n in range(10)]
# starts with 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
[n *2 for n in range(10) if n %2  == 0]

[0, 4, 8, 12, 16]

### List Operations

In [74]:
numbers = [1,2,3]

In [77]:
# add 4 to the list 
numbers.append(4)
numbers

[1, 2, 3, 4, 4, 4]

---

## Tuples


---

## Dictionaries

### Creating a dictionary

### Accessing dictionary values

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [ ]:
### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```